button:active {
    background-color: blue !important;
    /* color: red; */
}

.clicked {
    background-color: rgb(177, 199, 238) !important;
}

.hero-item {
    min-height: 40px;
    /* max-height: 7vh; */
    text-anchor: bottom;

}

.hero-list {
    height: 50vh;
    overflow-y: scroll;
    /* padding: 20px; */
    /* margin: 0 0 0 0 !important; */
}

.add-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.badge {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.selectionPanel {
    margin-top: 20px;
}

.progress {
    height: 50px;
    font-size: 2em;
}